<div class="row my-2">
    <div class="col-12 col-md-6 mb-2 mb-md-0 d-flex align-items-center justify-content-center">
        <span class="badge badge-pill badge-light">Comments:
            {{post.commentcount}}</span>
        <span class="badge badge-pill badge-light id2dt">{{post._id}}</span>
    </div>
    <div class="col-12 col-md-6">
        <button class="btn btn-light" onclick="gotopost(event,'{{post._id}}', '{{section}}')" type="button">View Post</button>
        <button class="btn btn-light comment-btn" onclick="addcomment(event,'{{post._id}}', '{{section}}')" type="button">Add Comment</button>
    </div>
</div>
<div class="btn-group mb-2" role="group" aria-label="Vote buttons">
  {% set removelike = not post.canlike %}
  {% set removedislike = not post.candislike %}
  <button type="button" class="btn {{ 'btn-primary' if post.canlike else 'btn-secondary' }}" onclick="sendvote(event,'likes','{{post._id}}', {{ removelike }})">Like</button>
  <button type="button" class="btn {{ 'btn-primary' if post.candislike else 'btn-secondary' }}" onclick="sendvote(event,'dislikes','{{post._id}}', {{ removedislike }})">Dislike</button>
</div>
<div class="vote-count text-center">
  <span>Likes: {{ post.likescount }} | Dislikes: {{ post.dislikescount }}</span>
</div>
