<nav class="navbar navbar-expand-md navbar-light fixed-top">
    <div class="container position-relative">
        <a class="navbar-brand" href="/">I'mBoard</a>
        <button aria-controls="collapsecontent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#collapsecontent" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsecontent">
            {% set pagesarr = ["Home"] %}
            {% set sectionsarr = ["Testing", "Film", "Music"] %}
            <ul class="navbar-nav mr-auto">
                {% for menuitem in pagesarr %}
                    <li class="nav-item {{"active" if page == menuitem | lower}}">
                        <a class="nav-link" href="/{{menuitem | lower}}">{{menuitem}}</a>
                    </li>
                {% endfor %}
                {% for menuitem in sectionsarr %}
                    <li class="nav-item {{"active" if section == menuitem | lower}}">
                        <a class="nav-link" href="/{{menuitem | lower}}/posts">{{menuitem}}</a>
                    </li>
                {% endfor %}
            </ul>
            {% if section %}
                <div class="d-flex">
                    <button class="btn btn-success col-6 col-md-auto" type="button" data-toggle="modal" data-target="#newpostmodal">New Post +</button>
                    {% if not user %}
                    <button onclick="location.href='/auth/google'" type="button" class="btn btn-success ml-2 col-6 col-md-auto">Sign In<i class="fab fa-google ml-2"></i></button>
                    {% else %}
                    <button type="button" class="btn btn-success dropdown-toggle ml-2 col-6 col-md-auto" data-toggle="dropdown" aria-haspopup="true">Account</button>
                    <div class="dropdown-menu user-dropdown dropdown-menu-right dropdown-menu-account p-2 mr-1">
                      <img class="rounded-circle ml-2" src="{{ user.photos[0].value }}">
                      <a href="/logout">Sign Out</a>
                    </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</nav>
<nav class="navbar">
    <a class="navbar-brand" href="#">For fixed-top</a>
</nav>
