<div class="modal" tabindex="-1" role="dialog" id="newpostmodal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p>Enter your information below and hit Create to create your post</p>
                <form class="postform" enctype="multipart/form-data" onsubmit="postsubmit(event,'{{section}}')" postsection={{section}}>
                    <label for="postuser" class="text-info mb-0">Secret Hash</label><br>
                    <small>Defaults to your IP or user ID if logged in.</small>
                    <input type="text" class="form-control" name="user" id="postuser" maxlength="25" pattern="[A-Za-z0-9_]{0,25}" value="{{user.mongo_id}}"{% if user %} disabled {% endif %}>
                    <small class="text-success" id="postulength">0/25</small><br>
                    <label for="postcontent" class="text-info">Post body</label>
                    <textarea class="form-control" name="content" id="postcontent" required></textarea>
                    <small class="text-danger" id="postlength">0/250</small><br>
                    <label class="text-info mb-0">Image Upload</label><br>
                    <small>Optional - 3mb max</small>
                    <div class="preview-container">
                      <div class="image-preview"></div>
                      <div class="clear-button"><img src="/x-symbol.svg"></div>
                    </div>
                    <div class="progress-bar-container mt-1 bg-light p-1">
                      <div class="progress-bar bg-success fsize-bar" role="progressbar" style="width: 0%; color: black"></div>
                      <div class="progress-bar-text">File size</div>
                    </div>
                    <label class="upload-button btn btn-success mb-0 mt-3" for="pictureupload">Choose Image</label>
                    <input name="postpicture" type="file" class="" id="pictureupload" accept=".jpg,.png,.gif,.bmp">
                    <input type="submit" class="btn btn-primary mt-3" value="Create Post">
                </form>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
