<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>ImBoard | {{section}}</title>
        <meta content="Online message board with several sections" name="description"/>
        <meta content="Figgy" name="author"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet"/>
        <link href="/styles.css" rel="stylesheet"/>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="container-fullwidth">
            <div class="modal" tabindex="-1" role="dialog" id="newpostmodal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">New Post</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body text-center">
                            <p>Enter your information below and hit Create to create your post</p>
                            <form class="postform" enctype="multipart/form-data" onsubmit="postsubmit(event,'{{section}}')" postsection={{section}}>
                                <label for="postuser" class="text-info">User name (optional)</label>
                                <input type="text" class="form-control" name="user" id="postuser" maxlength="25" pattern="[A-Za-z0-9_]{0,25}">
                                <small class="text-success" id="postulength">0/25</small><br>
                                <label for="postcontent" class="text-info">Post body</label>
                                <textarea class="form-control" name="content" id="postcontent" required></textarea>
                                <small class="text-danger" id="postlength">0/250</small><br>
                                <label for="pictureupload">Select image (1mb max)</label><br>
                                <input name="postpicture" type="file" class="" id="pictureupload" accept=".jpg,.png,.gif,.bmp"><br>
                                <div class="progress mt-4">
                                    <div class="progress-bar bg-success fsize-bar" role="progressbar" style="width: 0%; color: black">File size</div>
                                </div>
                                <input type="submit" class="btn btn-primary mt-2" value="Create">
                            </form>
                        </div>
                        <div class="modal-footer">

                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
                <a class="navbar-brand" href="#">I'mBoard</a>
                <button aria-controls="collapsecontent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#collapsecontent" data-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsecontent">
                    {% set pagesarr = ["Home"] %}
                    {% set sectionsarr = ["Testing", "Film", "Music"] %}
                    <ul class="navbar-nav mr-auto">
                        {% for menuitem in pagesarr %}
                            <li class="nav-item {{"active" if page == menuitem | lower}}">
                                <a class="nav-link" href="/{{menuitem | lower}}">{{menuitem}}</a>
                            </li>
                        {% endfor %}
                        {% for menuitem in sectionsarr %}
                            <li class="nav-item {{"active" if section == menuitem | lower}}">
                                <a class="nav-link" href="/{{menuitem | lower}}/posts">{{menuitem}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    {% if section %}
                        <ul class="navbar-nav">
                            <button class="btn btn-success" type="button" data-toggle="modal" data-target="#newpostmodal">New Post +</button>
                        </ul>
                    {% endif %}
                </div>
            </nav>
            <nav class="navbar">
                <a class="navbar-brand" href="#">For fixed-top</a>
            </nav>
            {% block content %}{% endblock %}
        </div>
        {% include "../includes/footer.njk" %}
    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.js" integrity="sha256-H9jAz//QLkDOy/nzE9G4aYijQtkLt9FvGmdUTwBk6gs=" crossorigin="anonymous"></script>
    <script src="/commentcontrols.js"></script>
    <script src="/postcontrols.js"></script>
    <script src="/formatui.js"></script>
</html>