{% extends "layouts/main.njk" %}
{% block content %}
<div class="container-fullwidth text-center">
    <div class="post py-3">
        <h1>Welcome</h1>
        <p>
            ImBoard is an image board site built with Express on NodeJS.
            This page is mainly a place holder for now.
        </p>
    </div>
</div>
{% endblock %}