{% extends "layouts/main.njk" %}
{% block content %}
<div class="container text-center">
    <div class="post py-3 my-2 px-4">
        <h1>Welcome</h1>
        <p>
            ImBoard is an image board system built with NodeJS as a server with the Express framework and MongoDB as a database.
            This page is mainly a place holder for now. For more information please visit the GitHub Repo. To get started you can visit the <a href="/testing/posts">test section</a>
        </p>
        <a href="https://github.com/adrfig966/ImBoard" title="View on Github">
        <img class="mw-100" src="/github.png" width="200px">
        <br>View on Github
        </a>
    </div>
</div>
{% endblock %}
