{% extends "layouts/main.njk" %}
{% block content %}
<div class="container text-center posts-container">
    {% for post in postarr %}
        <div class="post py-3 px-2 mb-2" id="{{post._id}}">
            {% if post.title %}
                <h5>{{ post.title }}</h5>
            {% endif %}

            {% if post.imagename %}
                <img src="/getimage/{{post.imagename}}" class="post-image d-block mx-auto">
            {% endif %}
            <p>
                {{post.content | truncate(100)}}
            </p>
            <small>
                posted by
                {{post.user}}
            </small>
            {% include "./includes/comment-controls.njk" %}
        </div>
    {% endfor %}
</div>{% endblock %}
