{% extends "layouts/main.njk" %}
{% block content %}
<div class="container posts-container mt-2">
    {% include "./includes/post-card.njk" %}
    <div class="comment-titles">
        <h3>Comments</h3>
    </div>
    {% for comment in post.comments %}
        <div class="comments-container text-white">
            <div class="comment py-4 rounded-top row {{ " focuscomment" if comment._id == comid}}">
                <div class="col-12 comment-content">{{comment.content}}</div>
                <div class="col-12">
                    <small>-{{comment.user}}</small>
                </div>
            </div>
            <div class="comment-footer mb-2 py-2 rounded-bottom row">
                <div class="col-12">
                    <span class="badge badge-pill badge-light id2dt">{{comment._id}}</span>
                    <span class="badge badge-pill badge-light">{{comment._id}}</span>
                </div>
            </div>
        </div>
    {% endfor %}
</div>{% endblock %}
