body{
    background-color: #f1faee;
}
body > .container {
    overflow:hidden;
}
.modal{
    color: black;
}
.navbar {
  background-color: #a8dadc;
}
footer {
    background-color: #a8dadc;
}
.post {
    background-color: #a8dadc;
}
.comment{
    background-color: #457b9d;
}
.comment-content a{
    color: white;
    font-weight: 600;
    font-style: italic;
}
.comment-footer{
    background-color: #1d3557
}
.focuscomment{
    background-color: #93718a;
}
.post-image{
    max-height: 250px;
    max-width: 100%;
}
.post-image-bg {
    background-size: cover;
    background-position: center;
    min-height: 200px;
}
@media (min-width: 768px) {
    .post {
        min-height: 300px;
    }
    .post-image-bg {
        min-height: 0;
    }
}
