body{
    text-align: center;
    background-color: #f1faee;
}
body > .container {
    color: white;
    overflow:hidden;
}
.modal{
    color: black;
}
.navbar {
  background-color: #e3f2fd;
}
.post,
.footer__inner{
    background-color: #457b9d;
}
.comment{
    background-color: #457b9d;
}
.comment-content a{
    color: white;
    font-weight: 600;
    font-style: italic;
}
.comment-footer{
    background-color: #1d3557
}
.focuscomment{
    background-color: #93718a;
}
.post-image{
    max-height: 500px;
    max-width: 80%;
}
